body{
  background: rgb(21,0,36);
background: radial-gradient(circle, rgba(21,0,36,0.9494060441559437) 0%, rgba(99,121,9,0.5236357360326943) 35%, rgba(0,212,255,1) 100%);

}
.app {
  padding: 30px;
  background: rgb(21,0,36);
background: radial-gradient(circle, rgba(21,0,36,0.9494060441559437) 0%, rgba(99,121,9,0.5236357360326943) 35%, rgba(0,212,255,1) 100%);
}

.to-do {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
.text-size{
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
}
.header-container{
  height: 100px;
  background-color: rgb(197, 179, 15);
  top: 0;
}
.container{
  background: rgb(21,0,36);
background: radial-gradient(circle, rgba(21,0,36,0.9494060441559437) 0%, rgba(99,121,9,0.5236357360326943) 35%, rgba(0,212,255,1) 100%);
}
.footer{
  height: 50px;
  bottom: 0;
  background-color: black;
}